<%- layout('/layouts/boilerplate') %>
<h1><%= campground.title %> </h1>
<h2>Location: <%= campground.location %> </h2>
<img src="<%= campground.photoUrl.small %>" alt="<%= campground.description %> ">
<p><%= campground.description %> </p>
<p>Price: <%= campground.price %> </p>
<footer>
    <p><a href="/campgrounds/<%= campground._id %>/edit">Edit</a></p>
    <p><a href="/campgrounds">All Campgrounds</a></p>
    <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
        <button>DELETE</button>            
    </form>
</footer>
